{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<li class="archive__item-cv">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    
    <strong class="archive__item-title" itemprop="headline">
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}" target="_blank" rel="noopener noreferrer">{{ title }}</a>
      {% elsif post.link %}
        <a href="{{ post.link }}" target="_blank" rel="noopener noreferrer">{{ title }}</a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </strong>

    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

    {% if post.collection == 'teaching' %}
      <br /><i>{{ post.type }}</i>, {{ post.venue }}, {{ post.date | default: "1900-01-01" | date: "%Y" }}
    {% elsif post.citation %}
      <br />{{ post.citation | markdownify | remove: "<p>" | remove: "</p>" }}
    {% endif %}

  </article>
</li>
